.app-header {
  background: linear-gradient(to right, rgb(17, 30, 32) 0%, rgb(19,38,43) 30%, rgb(2, 30, 60) 60%, rgb(1, 22, 48) 100%);
  padding: 16px 20px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .user-avatar-icon {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }

      .user-details {
        padding-left: 8px;
        color: white;
        display: flex;
        flex-direction: column; // Align items in a row instead of a column
        align-items: flex-start; // Center items vertically

        .user-name {
          font-family: 'Poppins', sans-serif;
          font-size: 1rem; // Change based on your design
          color: white;
          margin-bottom: 0px
        }

        .stats-container {
          display: flex;
          align-items: center;
          gap: 8px; // This adds space between items in the flex container

          .x-icon,
          .crown-icon {
            width: 16px; // Adjust to match the design
            height: 16px; // Adjust to match the design
          }

          .user-stats {
            font-size: 1rem; // Adjust to match the design
            color: white;
            margin-bottom: 0px
          }
        }
      }
    }

    .settings-btn {
      background: none; // Remove any background color
      border: none; // Remove any border
      box-shadow: none; // Remove any box shadow

      &:hover {
        background: none; // Ensure the background remains transparent on hover
      }
    }
  }

  .competitions-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #aaa;
    margin-top: 16px;
    margin-bottom: 0px;
  }
}