.app-header {
  background: linear-gradient(to right, rgb(17, 30, 32) 0%, rgb(19,38,43) 30%, rgb(2, 30, 60) 60%, rgb(1, 22, 48) 100%);
  padding: 16px 20px;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .user-avatar-icon {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }

      .user-details {
        padding-left: 8px;
        color: white;
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        font-size: 0.9rem;

        .user-name {
          font-family: 'Poppins', sans-serif;
          margin-bottom: 0px
        }

        .stats-container {
          display: flex;
          align-items: center;
          gap: 4px;

          .x-icon,
          .crown-icon {
            width: 16px;
            height: 16px;
          }

          .user-stats {
            margin: 0px;
            margin-right: 5px;
          }
        }
      }
    }

    .settings-btn {
      background: none; 
      border: none;
    }
  }

  .competitions-title {
    font-weight: 600;
    color: #aaa;
    margin-top: 16px;
    margin-bottom: 0px;
  }
}