body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, rgb(1, 1, 1) 0%, rgba(1, 1, 1, 0.7) 80%, rgba(17, 30, 32, 0.3) 85%), radial-gradient(at top left, rgb(17, 30, 32) 0%, rgb(19,38,43) 30%, rgb(1, 22, 48) 60%, rgb(2, 30, 60) 100%);
    background-repeat: no-repeat;
    position: relative;
  }
  
